@media (prefers-color-scheme: dark) {
	body { background-color: #1E1F21; color: #EEEFF1 !important; }
	a { color: #BAD7FF; }
	code{ background: black;}
	button{ color: white !important;}
	.invert{background-color: black !important;}
	kbd{border: 1px solid white !important;}
}

.svgaddr{
	display: inline-block; 
	align-self: center;
	height: 1em;
	width: auto;
	vertical-align: middle;
}

.row{
	margin: 2% auto;
}

code{
	display: block;
	white-space: pre-wrap;
	margin: 2% auto;
	padding: 1%;
	white-space: pre-wrap !important;
}

code, pre {
	white-space: pre-wrap !important;
}
.pwsh{
	display: block;
	white-space: pre-wrap;
	background: #012456 !important;
	color: white !important;
}

.invert{background-color: white;}

kbd {
	  border-radius: 5%;
	  padding: 1px 3px;
	  margin: 1px;
	  border: 1px solid black;
}
