<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/skeleton.css">
	<link rel="stylesheet" href="/assets/css/nixphere.css">
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/forkawesome/css/fork-awesome.min.css">
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
</body>

</html>