{% extends "base.html" %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}

{% if page.toc %}
<div class="row">
    <div class="twelve columns">
        <h2>{{page.title}}</h2>
        <button id="toctoggle" onclick="showtoc();" class="button" style="display: none;"> Table of Contents
        </button>
        <ol id="toc" style="display: block;">
            {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                <ol>
                    {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}


{{page.content | safe}}


{% if page.extra.author %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <p style="text-align: center;">Written by <a
                    href="https://nixphere.org/~{{page.extra.author}}">{{page.extra.author}}</a>. This work is
                licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 </a> License
                <i class="cc cc-cc"></i> <i class="cc cc-by"></i> <i class="cc cc-sa"></i>
            </p>
        </div>
    </div>
</div>
{% endif %}

<script>
    // @license magnet:?xt=urn:btih:87f119ba0b429ba17a44b4bffcab33165ebdacc0&dn=freebsd.txt FreeBSD 
    // enables TOC toggle for non-JS users, otherwise keep it entirely shown
    document.getElementById("toctoggle").style.display = "block";
    document.getElementById("toc").style.display = "none";
    function showtoc() {
        var toc = document.getElementById("toc");
        if (toc.style.display == "none") {
            toc.style.display = "block";
        } else {
            toc.style.display = "none";
        }
    }
// @license-end
</script>

{% endblock %}